@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
	overflow-wrap: break-word;
}

html,body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;

	background: #000;
	color: #fff;
	overflow: hidden;
}

#particles-js {
	height: 100vh;
	/* z-index: -10; */
	position: fixed;
	top: 0px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

a {
	color: #fff;
	text-decoration: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	color: #fff;
	height: 50px;
	width: 120px;
	border: solid;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1.5rem;
}
